// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // renderjson styles
  .renderjson {
    .disclosure {
      margin-right: 5px;
      color: #f92672 !important;
    }

    a { text-decoration: none; }
    .syntax { color: grey; }
    .string { color: #f92672; }
    .number { color: darkcyan; }
    .boolean { color: blueviolet; }
    .key    { color: #a6e22e; }
    .keyword { color: #41958e; }
    .object.syntax { color: #66e9df; }
    .array.syntax  { color: #fd971f; }
  }
};
