// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // renderjson styles
  .renderjson a { text-decoration: none; }
  .renderjson .disclosure { margin-right: 5px; color: #F92672 !important; }
  .renderjson .syntax { color: grey; }
  .renderjson .string { color: #F92672; }
  .renderjson .number { color: darkcyan; }
  .renderjson .boolean { color: blueviolet; }
  .renderjson .key    { color: #A6E22E; }
  .renderjson .keyword { color: #41958E; }
  .renderjson .object.syntax { color: #66E9DF; }
  .renderjson .array.syntax  { color: #fd971f; }
};
